/* preload images */
body:after {
    content: url("@{plugin-path}/images/loading.gif") url("@{plugin-path}/images/loading-dark.gif");
    display:none;
}

.cs50-browser-loading {
    background-image:  url("@{plugin-path}/images/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
}

.cs50-browser-loading.dark {
    background-image:  url("@{plugin-path}/images/loading-dark.gif");
}
